body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

/* layout of the page */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    grid-gap: 10px;
  }

#title{
    padding-top: 20px;
}

#randomWord{
    font-size: 3rem;
}
    #randomWord span{
        padding: 5px;
    }

/* keyword style */
#keyboard{
    margin-top: 20vh;
}

/* button is the single key of the keyword */

#keyboard button{
    border-radius: 50%;
    border: 1px solid #000;
    margin: 10px;
    height: 60px;
    width: 60px;
}

#keyboard button:focus {
    outline: 0;
}

button:hover{
    background-color: darkgrey;
    border: 1px solid #000;
}


/* new play */
#new{
    display: none;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #000;
}

