:root{
    --darkgrey: #a9a9a9;
    --black: #000;
}

/* General Container*/
body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.container {
    display: inline-flex;
}  

.containerWord{
    margin: 8rem auto 0 10rem;
}

/* General elements */
button:focus {
    outline: none;
    box-shadow: 0 0 15px var(--darkgrey);
}

button:hover{
    background-color: var(--drakgrey);
    border: 1px solid var(--black);
}

/* Single Element */

#title{
    padding-top: 20px;
}

#randomWord{
    font-size: 3rem;
}
    #randomWord span{
        padding: 5px;
    }

#myCanvas{
    margin-top: -6rem;
    float: right;
}

#new{
    padding: 10px;
    border-radius: 0;
    border: 1px solid var(--black);
}

#score {
    display: inline-flex;
    vertical-align: middle;
}

    #score div{
        display: grid;
        padding: 20px;
    }

/* Keyboard */

#keyboard-row1 { grid-area: 1 / 1 / 2 / 11; }
#keyboard-row2 { grid-area: 2 / 1 / 3 / 10; }
#keyboard-row3 { grid-area: 3 / 1 / 4 / 8; }

.keyboard button{
    border-radius: 50%;
    border: 1px solid #000;
    margin: 10px;
    height: 4rem;
    width: 4rem;
    font-size: 1.2rem;
}

/* Media Query  */
@media screen and (max-width: 1024px){
    body, .keyboard button, #new{
        font-size: 2rem;
    }
    .container{
        display: inline-block;
    }
    .containerWord{
        margin: 0;
    }
    #myCanvas{
        width: 60vw;
        margin-top: -10vh;
    }
}